body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/Dorayaki-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-blend-mode: multiply;
}

.split-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    /* height: 400px; */
    /* width: 600px; */
}

/* Left Box */
.left-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* box-sizing: border-box;
    padding: 40px;
    padding-top: 20px; */
    width: 400px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.left-box-signin {
    height: 400px;
}

/* .left-box-signup {
    padding-top: 70px;
} */

.main-title {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin: 0 0 10px 0;
}

.signin {
    margin: 0 0 25px 0;
}

.prompt {
    text-align: center;
    color: red;
    margin: 0;
}

.prompt-true{
    color: #19aBFF;
}

.fill-form ul{
    /* margin-left: 10px; */
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fill-form li {
    display: block;
}

.input-text {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 300px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 15px;
}

.input-text-username-signup {
    margin-bottom: 2px;
}

.input-text-email-signup {
    margin-bottom: 2px;
}

.box-message {
    display: none;
    padding-left: 5px;
    font-size: 15px;
    font-style: italic;
}

.form-messages {
    background-color: rgb(255, 232, 232);
    border: 1px solid red;
    color: red;
    display: none;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 5px 25px;
    max-width: 300px;
}

.form-messages li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 32px;
    background: #19aBFF;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5%;
}

.btn:hover {
    background: #1494df;
    transform: 0.2s ease;
}

.alt {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 30px;
    background: white;
    border: none;
    color: #777;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.alt:hover {
    text-decoration: underline;
    transform: 0.2s ease;
}

.checkbox{
    display: inline-block;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Right box  */
.right-box {
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */

    box-sizing: border-box;
    padding: 40px;
    width:  400px;
    height: 500px;
    background-color: #19aBFF;
}

.right-box-signin {
    height: 400px;
}

.desc-box {
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
    font-weight: 100px;
    color: white;
}

.desc-quote {
    text-align: right;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 100px;
    color: white;
}



@media screen and (min-width: 900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }

    .box {
        width: 800px;
        margin-top: 0;
        margin-bottom: 0;
    }

    /* Left box */
    .left-box {
        display: flex;
        width: 50%;
        height: 500px;
    }

    .left-box-signin {
        height: 400px;
    }

    /* Right box */
    .right-box {
        width: 50%;
        height: 500px;
    }

    .right-box-signin {
        height: 400px;
    }

    .desc-box{
        margin-top: 60px;
    }

}