body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/Dorayaki-background.jpg);
    background-size: 100em;
    background-blend-mode: multiply;
}

.box {
    position: relative; 
    margin: 10% auto;
    height: 400px;
    width: 800px;
}

/* Left Box */
.left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    border-radius: 2% 0 0 2%;
}

.main-title {
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 500;
    font-size: 35px;
}

.signin {
    margin: 0 0 35px 0;
}

.prompt {
    text-align: center;
    color: red;
    margin: 0;
}

.prompt-true{
    color: #19aBFF;
}

.fill-form ul{
    /* margin-left: 10px; */
    padding: 0;
}

.fill-form li {
    display: block;
}

.input-text {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 300px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 15px;
}

.btn {
    text-align: center;
    margin-bottom: 15px;
    width: 300px;
    height: 32px;
    background: #19aBFF;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5%;
}

.btn:hover {
    background: #1494df;
    transform: 0.2s ease;
}

.alt {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    width: 300px;
    height: 30px;
    background: white;
    border: none;
    color: #777;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.alt:hover {
    text-decoration: underline;
    transform: 0.2s ease;
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width:  400px;
    height: 400px;
    background-color: #19aBFF;
    border-radius: 0 2% 2% 0;
}

.desc-box {
    text-align: center;
    margin: 70px 20px 20px 20px;
    font-size: 3em;
    font-weight: 100px;
    color: white;
}

.checkbox{
    display: inline-block;
    color: #777;
    margin-bottom: 20px;
}